<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-content">
				<!-- ***** Banner Start ***** -->
				<div class="main-banner" style="background-image: url({{ asset('images/banner-bg.jpg') }}) ;">
					<div class="row">
						<div class="col-lg-7">
							<div class="header-text">
								<h6>Never forget what you've seen.</h6>
								<h4>
									<em>Create Lists</em>
									And track your anime today.</h4>
								{% if app.user %}
									<div class="main-button">
										<a href="{{ path('app_my_lists') }}">Create list</a>
									</div>
								{% else %} 
									<div class="main-button">
										<a href="{{ path('app_login') }}">Log in</a>
									</div>
								{% endif %}
								
							</div>
						</div>
					</div>
				</div>
				<!-- ***** Banner End ***** -->

				<!-- ***** Featured Games Start ***** -->
				
				{% if app.user %}
				{% for trendingAnime in trendingAnimes %}
				<div id="list-options-{{ trendingAnime.id }}" class="list-options" style="display: none;">
					<div class="dialog-container">
						<button class="closeButton add-to-list" data-anime-id="{{ trendingAnime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
						<div class="heading-section">
							<h4>Save in...</h4>
						</div>
						<div class="overflow-auto">
							{% for list in lists %}
								<div class="main-border-button text-center" style="margin: 0;">
									<a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': trendingAnime.id}) }}" >
										{{ list.nom }}
										{% if trendingAnime in list.anime %}
											<i class="fa fa-check"></i>
										{% endif %}
									</a>
								</div>
							{% endfor %}
						</div>
						<div class="main-button"><button class="create-list-button mt-2" data-anime-id="{{ trendingAnime.id }}"><i class="fa fa-plus"></i> Create list</button></div>
						<div id="create-list-form-{{ trendingAnime.id }}" style="display: none;" class="center"> 
							{{ form_start(trendingForms[trendingAnime.id], {'attr': {'class': 'center'}}) }}
								{{ form_widget(trendingForms[trendingAnime.id].nom) }}
								{{ form_widget(trendingForms[trendingAnime.id].create) }}
							{{ form_end(trendingForms[trendingAnime.id]) }}
						</div>
					</div>   
				</div> 
				{% endfor %}
				{% endif %}
				<div class="row margin-top">
					<div class="col-lg-8">
						<div class="featured-games header-text">
							<div class="heading-section">
							<h4><em>Trending</em> Animes</h4>
							</div>
							<div class="owl-features owl-carousel">
							{% for trendingAnime in trendingAnimes %}
							<div class="item">
								<div class="thumb">
								<a href="{{ path('app_anime_details', {'id': trendingAnime.id }) }}">
								<img src="{{ trendingAnime.image }}" alt="" class='img-carousel'>
								</a>
								<div class="hover-effect">
									<div class="main-button">
									{% if app.user %}
									<button class="add-to-list" data-anime-id="{{ trendingAnime.id }}"><i class="fa fa-plus"></i> Add To List</button>
									{% else %}
									<a href="{{ path('app_login') }}">Add To List</a>
									{% endif %}
									</div>
								</div>
								</div>
								<h4><a href="{{ path('app_anime_details', {'id': trendingAnime.id }) }}">{{ trendingAnime.nom }}</a></h4>
							</div>
							
							{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="top-downloaded">
							<div class="heading-section">
							  <h4><em>Top</em> Animes</h4>
							</div>
							<ul>
								{% set count = 0 %}
								{% for topAnime in topAnimes %}
								{% set count = count + 1 %}
							  <li>
								<a href="{{ path('app_anime_details', {'id': topAnime.id}) }}">
									<img src="{{ topAnime.image }}" alt="" class="templatemo-item" style="height: 80px;">
								</a>
								<a href="{{ path('app_anime_details', {'id': topAnime.id}) }}">
									<h4>0{{ count }}. {{ topAnime.nom }}</h4>
								</a>
								{% if app.user %}
									<div class="download">
										<button class="add-to-list" data-anime-id="{{ topAnime.id }}" style="border: none; background-color: transparent; cursor:default;"><i class="fa fa-plus" style="cursor:pointer;"></i></button>
									</div>
									<div id="list-options-{{ topAnime.id }}" class="list-options" style="display: none;">
										<div class="dialog-container">
											<button class="closeButton add-to-list" data-anime-id="{{ topAnime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
											<div class="heading-section">
												<h4>Save in...</h4>
											</div>
											<div class="overflow-auto">
												{% for list in lists %}
													<div class="main-border-button text-center" style="margin: 0;">
														<a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': topAnime.id}) }}" >
															{{ list.nom }}
															{% if topAnime in list.anime %}
																<i class="fa fa-check"></i>
															{% endif %}
														</a>
													</div>
												{% endfor %}
											</div>
											<div class="main-button"><button class="create-list-button mt-2" data-anime-id="{{ topAnime.id }}"><i class="fa fa-plus"></i> Create list</button></div>
											<div id="create-list-form-{{ topAnime.id }}" style="display: none;" class="center"> 
												{{ form_start(topForms[topAnime.id], {'attr': {'class': 'center'}}) }}
													{{ form_widget(topForms[topAnime.id].nom) }}
													{{ form_widget(topForms[topAnime.id].create) }}
												{{ form_end(topForms[topAnime.id]) }}
											</div>
										</div>   
									</div> 
									{% else %}
									<div class="download">
										<a href="{{ path('app_login') }}"><i class="fa fa-plus"></i></a>
									</div>
									{% endif %}
								
							  </li>
							  	{% endfor %}
							</ul>
							<div class="text-button">
							  <a href="#">View All Top Animes</a>
							</div>
						  </div>
						</div>
					</div>
				
				  <!-- ***** Featured Games End ***** -->
		
				  <!-- ***** Most Popular This Season Start ***** -->
				<div class="live-stream margin-top">
					<div class="col-lg-12">
						  <div class="heading-section">
							<h4><em>Popular This Season</em> Animes  </h4>
						</div>
					<div class="row">
						{% for popularThisSeasonAnime in popularThisSeasonAnimes %}
						<div class="col-lg-3 col-sm-6">
							<div class="item">
								<div class="thumb">
								  <a href="{{ path('app_anime_details', {'id': popularThisSeasonAnime.id }) }}">
									<img src="{{ popularThisSeasonAnime.image }}" alt="" class="img-anime">
								  </a>
								  <div class="hover-effect">
									<div class="content">
									  <ul>
										<li>{% if app.user  %}
											<div class="main-button">
												<button class="add-to-list" data-anime-id="{{ popularThisSeasonAnime.id }}"><i class="fa fa-plus"></i> Add To List</button>
											</div>
											{% else %}
											<div class="main-border-button">
												<a href="{{ path('app_login')}}">Add to List</a>
											</div>
											{% endif %}
										</li>
									  </ul>
									</div>
								  </div>
								</div>
								<div class="down-content d-flex justify-content-center align-items-center">
								  
									<a href="{{ path('app_anime_details', {'id': popularThisSeasonAnime.id }) }}"> {{ popularThisSeasonAnime.nom }}</a>
								  
								</div> 
							</div>
							
							
						</div>
						
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-12">
					<div class="main-button">
					  <a href="#">View More</a>
					</div>
				</div>
			</div>
			
			{% if app.user %}
			{% for popularThisSeasonAnime in popularThisSeasonAnimes %}
				<div id="list-options-{{ popularThisSeasonAnime.id }}" class="list-options" style="display: none;">
					<div class="dialog-container">
						<button class="closeButton add-to-list" data-anime-id="{{ popularThisSeasonAnime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
						<div class="heading-section">
							<h4>Save in...</h4>
						</div>
						<div class="overflow-auto">
							{% for list in lists %}
								<div class="main-border-button text-center" style="margin: 0;">
									<a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': popularThisSeasonAnime.id}) }}" >
										{{ list.nom }}
										{% if popularThisSeasonAnime in list.anime %}
											<i class="fa fa-check"></i>
										{% endif %}
									</a>
								</div>
							{% endfor %}
						</div>
						<div class="main-button"><button class="create-list-button mt-2" data-anime-id="{{ popularThisSeasonAnime.id }}"><i class="fa fa-plus"></i> Create list</button></div>
						<div id="create-list-form-{{ popularThisSeasonAnime.id }}" style="display: none;" class="center"> 
							{{ form_start(popularThisSeasonForms[popularThisSeasonAnime.id], {'attr': {'class': 'center'}}) }}
								{{ form_widget(popularThisSeasonForms[popularThisSeasonAnime.id].nom) }}
								{{ form_widget(popularThisSeasonForms[popularThisSeasonAnime.id].create) }}
							{{ form_end(popularThisSeasonForms[popularThisSeasonAnime.id]) }}
						</div>
					</div>   
				</div> 
				{% endfor %}
				{% endif %}
			  <!-- ***** Most Popular This Season End ***** -->
		
				  <!-- ***** Most Popular Start ***** -->
				  <div class="live-stream margin-top">
                        <div class="col-lg-12">
                          	<div class="heading-section">
                            	<h4><em>All Time Popular</em> Animes  </h4>
                        	</div>
                        <div class="row">
                            {% for popularAnime in popularAnimes %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="thumb">
                                      <a href="{{ path('app_anime_details', {'id': popularAnime.id }) }}">
                                        <img src="{{ popularAnime.image }}" alt="" class="img-anime">
                                      </a>
                                      <div class="hover-effect">
                                        <div class="content">
                                          <ul>
                                            <li>{% if app.user  %}<div class="main-button"><button class="add-to-list" data-anime-id="{{ popularAnime.id }}"><i class="fa fa-plus"></i> Add To List</button></div>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add to List</a></div>{% endif %}</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="down-content d-flex justify-content-center align-items-center">
                                      
                                        <a href="{{ path('app_anime_details', {'id': popularAnime.id }) }}"> {{ popularAnime.nom }}</a>
                                      
                                    </div> 
                                </div>
								
                                
                            </div>
							
                            {% endfor %}
                        </div>
                	</div>
					<div class="col-lg-12">
						<div class="main-button">
						  <a href="#">View More</a>
						</div>
					</div>
				</div>
				
				{% if app.user %}
				{% for popularAnime in popularAnimes %}
					<div id="list-options-{{ popularAnime.id }}" class="list-options" style="display: none;">
						<div class="dialog-container">
							<button class="closeButton add-to-list" data-anime-id="{{ popularAnime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
							<div class="heading-section">
								<h4>Save in...</h4>
							</div>
							<div class="overflow-auto">
								{% for list in lists %}
									<div class="main-border-button text-center" style="margin: 0;">
										<a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': popularAnime.id}) }}" >
											{{ list.nom }}
											{% if popularAnime in list.anime %}
												<i class="fa fa-check"></i>
											{% endif %}
										</a>
									</div>
								{% endfor %}
							</div>
							<div class="main-button"><button class="create-list-button mt-2" data-anime-id="{{ popularAnime.id }}"><i class="fa fa-plus"></i> Create list</button></div>
							<div id="create-list-form-{{ popularAnime.id }}" style="display: none;" class="center"> 
								{{ form_start(popularForms[popularAnime.id], {'attr': {'class': 'center'}}) }}
									{{ form_widget(popularForms[popularAnime.id].nom) }}
									{{ form_widget(popularForms[popularAnime.id].create) }}
								{{ form_end(popularForms[popularAnime.id]) }}
							</div>
						</div>   
					</div> 
					{% endfor %}
					{% endif %}
				  <!-- ***** Most Popular End ***** -->
				  
			</div>
		</div>
	</div>
</div>
