<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Gaming Library Start ***** -->
                    <div class="live-stream">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4><em>{{ nbResult }} Results for</em>{% set query = app.request.get('query') %}{% set cleanQuery = query|split('&')|first %} {{ cleanQuery }}  </h4>
                        </div>
                        <div class="row">
                        {% if animes %}
                            {% for anime in animes %}
                            <div class="col-lg-3 col-sm-6">
                                
                                <div class="item">
                                    <div class="thumb">
                                      <a href="{{ path('app_anime_details', {'id': anime.id }) }}">
                                        <img src="{{ anime.image }}" alt="" class="img-anime">
                                      </a>
                                      <div class="hover-effect">
                                        <div class="content">
                                          <ul>
                                            <li>{% if app.user  %}<button class="btn btn-primary add-to-list" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Add To List</button>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add to List</a></div>{% endif %}</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="down-content d-flex justify-content-center align-items-center">
                                      
                                        <a href="{{ path('app_anime_details', {'id': anime.id }) }}"> {{ anime.nom }}</a>
                                      
                                    </div> 
                                </div>
                                
                                {% if app.user %}
                                <div id="list-options-{{ anime.id }}" class="list-options" style="display: none;">
                                    <div class="dialog-container">
                                        <button class="closeButton add-to-list" data-anime-id="{{ anime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
                                        <div class="heading-section">
                                            <h4>Save in...</h4>
                                        </div>
                                        <div class="overflow-auto">
                                            {% for list in lists %}
                                                <div class="main-border-button text-center" style="margin: 0;">
                                                    <a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': anime.id}) }}" >
                                                        {{ list.nom }}
                                                        {% if anime in list.anime %}
                                                            <i class="fa fa-check"></i>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        
                                        <button class="btn btn-primary create-list-button mt-2" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Create list</button>
                                        <div id="create-list-form-{{ anime.id }}" style="display: none;" class="center"> 
                                            {{ form_start(form2[anime.id], {'attr': {'class': 'center'}}) }}
                                                {{ form_widget(form2[anime.id].nom) }}
                                                {{ form_widget(form2[anime.id].create) }}
                                            {{ form_end(form2[anime.id]) }}
                                        </div>
                                    </div>   
                                </div> 
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                            {% if pages > 1 %}
                                {% for i in range(1, pages) %}
                                    <a href="{{ path('app_result_query', {'query': cleanQuery, 'page': i}) }}"
                                    {% if currentPage == i %}
                                        style="color: #e75e8d"
                                    {% endif %}>{{ i }}</a>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <h4><em>No results found</em></h4>
                        {% endif %}
                    
                </div>
                <!-- ***** Gaming Library End ***** -->
            </div>
        </div>
    </div>
</div>
