<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="feature-banner header-text">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{{ anime.image }}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-8">
                    <div class="thumb">
                      <img src="{{ anime.trailerImg }}" alt="" style="border-radius: 23px;">
                      <a href="{{ anime.trailerUrl }}" target="_blank"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured End ***** -->

          <!-- ***** Details Start ***** -->
          <div class="game-details">
            <div class="row">
              <div class="col-lg-12">
                <h2>{{ anime.nom}}</h2>
              </div>
              <div class="col-lg-12">
                <div class="content">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="left-info">
                        <div class="left">
                          <h4>{{ anime.nom}}</h4>
                          <span>
                          {% for categorie in categories %}
                            <a href="{{ path('app_categorie_details', {'id': categorie.id })}}">{{categorie.nom}}</a>
                          {% endfor %}
                          </span>
                        </div>
                        <ul>
                          <li><i class="fa fa-star"></i> 4.8</li>
                          <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-info">
                        <ul>
                          <li><i class="fa fa-star"></i> {% if anime.episodes is not null %} {{ anime.episodes }}{% else %} - {% endif %}</li>
                          <li><i class="fa fa-download"></i> {% if anime.year is not null %} {{ anime.year }}{% else %} - {% endif %}</li>
                          <li><i class="fa fa-server"></i> 36GB</li>
                          <li><i class="fa fa-gamepad"></i> Action</li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <p>{{ anime.synopsis }}</p>
                    </div>
                    <div class="col-lg-12">
                      {% if app.user  %}<div class="main-border-button"><button style="width: 100%;" class="btn btn-primary add-to-list" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Add To List</button></div>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add To List</a></div>{% endif %}
                        {% if app.user %}
                        <div id="list-options-{{ anime.id }}" class="list-options" style="display: none;">
                            <div class="dialog-container">
                                <button class="closeButton add-to-list" data-anime-id="{{ anime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
                                <div class="heading-section">
                                    <h4>Save in...</h4>
                                </div>
                                <div class="overflow-auto">
                                {% for list in lists %}
                                    <div class="main-border-button" style="margin: 0;"><a href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': anime.id}) }}">{{ list.nom }}{% if anime in list.anime %} <i class="fa fa-check"></i>{% endif %}</a></div>
                                {% endfor %}
                                </div>
                                <button class="btn btn-primary create-list-button mt-2" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Create list</button>
                                <div id="create-list-form-{{ anime.id }}" style="display: none;" class="center"> 
                                    {{ form_start(listForm, {'attr': {'class': 'center'}}) }}
                                        {{ form_widget(listForm.nom) }}
                                        {{ form_widget(listForm.create) }}
                                    {{ form_end(listForm) }}
                                </div>
                            </div>   
                        </div> 
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          <!-- ***** Other Start ***** -->
          <div class="other-games">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Related</em> Animes</h4>
                </div>
              </div>
              {% for relation in relations %}
              <div class="col-lg-6">
                <div class="item">
                  <a href="{{ path('app_anime_details', {'id': relation.id })}}">
                    <img src="{{ relation.image }}" alt="" class="templatemo-item">
                  </a>
                  <h4><a href="{{ path('app_anime_details', {'id': relation.id })}}">{{ relation.nom }}</a></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> 4.8</li>
                    <li><i class="fa fa-download"></i> 2.3M</li>
                  </ul>
                  <span>Sandbox</span>
                  
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- ***** Other End ***** -->
          <!-- ***** Other Start ***** -->
          <div class="other-games">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Recommended</em> Animes</h4>
                </div>
              </div>
              {% for recommendation in recommendations %}
              <div class="col-lg-6">
                <div class="item">
                  
                  <a href="{{ path('app_anime_details', {'id': recommendation.id })}}">
                    <img src="{{ recommendation.image }}" alt="" class="templatemo-item">
                  </a>
                  <h4><a href="{{ path('app_anime_details', {'id': recommendation.id })}}">{{ recommendation.nom }}</a></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> 4.8</li>
                    <li><i class="fa fa-download"></i> 2.3M</li>
                  </ul>
                  <span>Sandbox</span>
                  
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- ***** Other End ***** -->
        </div>
      </div>
    </div>
  </div>