<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="feature-banner header-text">
                <div class="row">
                  {% if anime.trailerUrl is not null %}
                  <div class="col-lg-4">
                    <img src="{{ anime.image }}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-8">
                    <div class="thumb">
                      <img src="{{ anime.trailerImg }}" alt="" style="border-radius: 23px;">
                      <a href="{{ anime.trailerUrl }}" target="_blank"><i class="fa fa-play"></i></a>
                    </div>
                   
                  </div>
                  
                  {% else %}
                  <div class="col-lg-4">
                    <img src="{{ anime.image }}" alt="" style="border-radius: 23px;">
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured End ***** -->

          <!-- ***** Details Start ***** -->
          <div class="game-details">
            <div class="row">
              
              <div class="col-lg-12">
                <h2>{{ anime.nom}}</h2>
              </div>
              
              <div class="col-lg-12">
                <div class="content">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="left-info">
                        <div class="left">
                          <h4>{{ anime.nom}}</h4>
                          <span>
                          {% for categorie in categories %}
                            <a href="{{ path('app_categorie_details', {'id': categorie.id })}}">{{categorie.nom}}</a>
                          {% endfor %}
                          </span>
                        </div>
                        <ul>
                          <li><i class="fa fa-star"></i>{% if anime.averageScore is not null %} {{ anime.averageScore }}%{% else %} - {% endif %}</li>
                          <li><i class="fa fa-heart"></i>{% if anime.popularityScore is not null %} {{ anime.popularityScore }}{% else %} - {% endif %}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-info">
                        <ul>
                          <li><i style="color: #ec6090;">Format</i>{% if anime.format is not null %} {{ anime.format }}{% else %} - {% endif %}</li>
                          <li><i>Episodes</i>{% if anime.episodes is not null %} {{ anime.episodes }}{% else %} - {% endif %}</li>
                          <li><i>Duration</i>{% if anime.duration is not null %} {{ anime.duration }} minutes{% else %} - {% endif %}</li>
                          <li><i>Status</i>{% if anime.status is not null %} {{ anime.status }}{% else %} - {% endif %}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-info">
                        <ul>
                          <li><i style="color: #ec6090;">Start Date</i>{% if anime.startDate is not null %} {{ anime.startDate|date('d/m/Y') }}{% else %} - {% endif %}</li>
                          <li><i>Season</i>{% if anime.season is not null %} {{ anime.season }}{% else %} - {% endif %}</li>
                          <li><i>End Date</i>{% if anime.endDate is not null %} {{ anime.endDate|date('d/m/Y') }}{% else %} - {% endif %}</li>
                          <li><i>Source</i>{% if anime.source is not null %} {{ anime.source }}{% else %} - {% endif %}</li>
                        </ul>
                      </div>
                    </div>
                 
                    
                    <div class="col-lg-12">
                      <p>{{ anime.synopsis }}</p>
                    </div>
                    <div class="col-lg-12">
                      {% if app.user  %}<div class="main-button mt-4"><button style="width: 100%;" class="add-to-list" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Add To List</button></div>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add To List</a></div>{% endif %}
                        {% if app.user %}
                        <div id="list-options-{{ anime.id }}" class="list-options" style="display: none;">
                            <div class="dialog-container">
                                <button class="closeButton add-to-list" data-anime-id="{{ anime.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
                                <div class="heading-section">
                                    <h4>Save in...</h4>
                                </div>
                                <div class="overflow-auto">
                                {% for list in lists %}
                                    <div class="main-border-button" style="margin: 0;"><a href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': anime.id}) }}">{{ list.nom }}{% if anime in list.anime %} <i class="fa fa-check"></i>{% endif %}</a></div>
                                {% endfor %}
                                </div>
                                <button class="btn btn-primary create-list-button mt-2" data-anime-id="{{ anime.id }}"><i class="fa fa-plus"></i> Create list</button>
                                <div id="create-list-form-{{ anime.id }}" style="display: none;" class="center"> 
                                    {{ form_start(listForm, {'attr': {'class': 'center'}}) }}
                                        {{ form_widget(listForm.nom) }}
                                        {{ form_widget(listForm.create) }}
                                    {{ form_end(listForm) }}
                                </div>
                            </div>   
                        </div> 
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          <!-- ***** Other Start ***** -->

          {% if relations is not empty %}
          <div class="live-stream" style="margin-top: 60px">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Related</em> Animes</h4>
              </div>
                <div class="row">
                    {% for relation in relations %}
                      <div class="col-lg-3 col-sm-6">
                          <div class="item">
                              <div class="thumb">
                                  <a href="{{ path('app_anime_details', {'id': relation.id }) }}">
                                      <img src="{{ relation.image }}" alt="" class="img-anime">
                                  </a>
                                  <div class="hover-effect">
                                      <div class="content">
                                          <ul>
                                              <li>
                                                {% if app.user  %} <div class="main-button"><button class="add-to-list" data-anime-id="{{ relation.id }}"><i class="fa fa-plus"></i> Add To List</button></div>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add to List</a></div>{% endif %}
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="down-content d-flex justify-content-center align-items-center">
                                  <a href="{{ path('app_anime_details', {'id': relation.id }) }}"> {{ relation.nom }}</a>
                              </div>
                          </div>      
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if relations is not empty and app.user %}
        {% for relation in relations %}
          <div id="list-options-{{ relation.id }}" class="list-options" style="display: none;">
              <div class="dialog-container">
                  <button class="closeButton add-to-list" data-anime-id="{{ relation.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
                  <div class="heading-section">
                      <h4>Save in...</h4>
                  </div>
                  <div class="overflow-auto">
                      {% for list in lists %}
                          <div class="main-border-button text-center" style="margin: 0;">
                              <a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': relation.id}) }}" >
                                  {{ list.nom }}
                                  {% if relation in list.anime %}
                                      <i class="fa fa-check"></i>
                                  {% endif %}
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                  
                  <div class="main-button">
                    <button class="create-list-button mt-2" data-anime-id="{{ relation.id }}"><i class="fa fa-plus"></i> Create list</button>
                  </div>
                  <div id="create-list-form-{{ relation.id }}" style="display: none;" class="center"> 
                      {{ form_start(relationsForms[relation.id], {'attr': {'class': 'center'}}) }}
                        {{ form_widget(relationsForms[relation.id].nom) }}
                        {{ form_widget(relationsForms[relation.id].create) }}
                      {{ form_end(relationsForms[relation.id]) }}
                  </div>
              </div>   
          </div> 
        {% endfor %}
        {% endif %}
          <!-- ***** Other End ***** -->
          <!-- ***** Other Start ***** -->
    

          {% if recommendations is not empty %}
          <div class="live-stream" style="margin-top: 60px">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Recommended</em> Animes</h4>
              </div>
                <div class="row">
                    {% for recommendation in recommendations %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="{{ path('app_anime_details', {'id': recommendation.id }) }}">
                                            <img src="{{ recommendation.image }}" alt="" class="img-anime">
                                        </a>
                                        <div class="hover-effect">
                                            <div class="content">
                                                <ul>
                                                    <li>
                                                      {% if app.user  %}<div class="main-button"><button class="btn btn-primary add-to-list" data-anime-id="{{ recommendation.id }}"><i class="fa fa-plus"></i> Add To List</button></div>{% else %}<div class="main-border-button"><a href="{{ path('app_login')}}">Add to List</a></div>{% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="down-content d-flex justify-content-center align-items-center">
                                        <a href="{{ path('app_anime_details', {'id': recommendation.id }) }}"> {{ recommendation.nom }}</a>
                                    </div>
                                </div>
                                
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if recommendations is not empty and app.user %}
        {% for recommendation in recommendations %}
        <div id="list-options-{{ recommendation.id }}" class="list-options" style="display: none;">
            <div class="dialog-container">
                <button class="closeButton add-to-list" data-anime-id="{{ recommendation.id }}"><img src="{{ asset('/images/cross.png') }}" alt=""></button>
                <div class="heading-section">
                    <h4>Save in...</h4>
                </div>
                <div class="overflow-auto">
                    {% for list in lists %}
                        <div class="main-border-button text-center" style="margin: 0;">
                            <a style="width: 100%;" href="{{ path('app_add_anime_in_list', {'liste': list.id, 'anime': recommendation.id}) }}" >
                                {{ list.nom }}
                                {% if recommendation in list.anime %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="main-button">
                  <button class="create-list-button mt-2" data-anime-id="{{ recommendation.id }}"><i class="fa fa-plus"></i> Create list</button>
                </div>
                <div id="create-list-form-{{ recommendation.id }}" style="display: none;" class="center"> 
                    {{ form_start(recommendationsForms[recommendation.id], {'attr': {'class': 'center'}}) }}
                      {{ form_widget(recommendationsForms[recommendation.id].nom) }}
                      {{ form_widget(recommendationsForms[recommendation.id].create) }}
                    {{ form_end(recommendationsForms[recommendation.id]) }}
                </div>
            </div>   
        </div> 
        {% endfor %}
        {% endif %}
          <!-- ***** Other End ***** -->
        </div>
      </div>
    </div>
  </div>