<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <img src="{{ asset("images/logo.png") }}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->

                      {{ form_start(searchForm)}}
                      {{ form_end(searchForm)}}
                     
                    
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    {% if app.user %}
                    <ul class="nav">
                      <li><a href="{{ path('app_home') }}" {% if app.request.attributes.get('_route') == 'app_home' %}class="active"{% endif %}>Home</a></li>
                      <li><a href="{{ path('app_categories') }}" {% if app.request.attributes.get('_route') == 'app_categories' %}class="active"{% endif %}>Categories</a></li>
                      <li><a href="{{ path('app_my_lists') }}" {% if app.request.attributes.get('_route') == 'app_my_lists' %}class="active"{% endif %}>My lists</a></li>
                      <li><a href="{{ path('app_my_account') }}" {% if app.request.attributes.get('_route') == 'app_my_account' %}class="active"{% endif %}>My Account <img src={{ asset('images/profile-header.jpg')}} alt=""></a></li>
                    </ul>
                    {% else %}
                    <ul class="nav">
                      <li><a href="{{ path('app_home') }}" {% if app.request.attributes.get('_route') == 'app_home' %}class="active"{% endif %}>Home</a></li>
                      <li><a href="{{ path('app_categories') }}" {% if app.request.attributes.get('_route') == 'app_categories' %}class="active"{% endif %}>Categories</a></li>
                      <li><a href="{{ path('app_login') }}" {% if app.request.attributes.get('_route') == 'app_login' %}class="active"{% endif %}>Log in</a></li>
                      <li><a href="{{ path('app_register') }}"{% if app.request.attributes.get('_route') == 'app_register' %}class="active"{% endif %}>Register</a></li>
                      <li style="display: none;"><a href=''></a> </li>
                    </ul>   
                    {% endif %}
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->